<h1>Sign In Please</h1>


<form action="/auth/login" method="post">
    <input type="text" name="name" placeholder="Name" required>
    <input type="email" name="email" placeholder="Email" required> 
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">LOGIN</button>
</form>