<h1>Sign In Please</h1>


<form action="/auth/login" method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">LOGIN</button>
</form>