<h1>Create a New Room</h1>

<form action="/auth/profile" method="post">
    <input type="text" name="name" placeholder="Name" required>
    <textarea name="description" placeholder="Description" required> </textarea>
    <input type="text" name="imageUrl" placeholder="image url" required>

  <button type="submit">CREATE ROOM</button>
</form>
